@mixin default_pos {
    position: relative;
    display: flex;
}
.sort-main-container{
    @include default_pos();
    align-items: center;
    .hidden{
        display: none;
        .sorting{
            font-size: 14px;
            margin-left: 15px;
        }
        @media screen and (max-width: 320px){
            @include default_pos();
            justify-content: center;
            align-items: center;
            padding: 0;
            width: 100%;
            height: 100%;
        }
    }
    @media screen and (max-width: 320px){
        align-items: flex-start;
        width: 136px;
        height: 40px;
        border: 1px solid #A96C17;
        border-radius: 40px;
    }
}
.sortby{
    font-size: 14px;
    line-height: 1.29px;
    color: #000000;
    @media screen and (max-width: 320px){
        display: none;
    }
}
.active-sort-link{
    color: #A96C17 !important;
}
.sort-link{
    padding: 0;
    font-size: 14px;
    color: #999999;
    margin-left: 15px;
    @media screen and (max-width: 320px){
        display: none;
    }
}