<template>
    <div class="sort-main-container">
      <button v-on:click="openModal()" class="hidden">
        <img class="sorting-icon" src="assets/icons/sorting.svg">
        <p class="sorting">Sorting</p>
      </button>
      <p class="sortby">Sorting by: </p>
      <button v-bind:class="{'active-sort-link':getLatest}" v-on:click="toggleSort()" class="sort-link">the latest</button>
      <button v-bind:class="{'active-sort-link':getInterest}" v-on:click="toggleSort()" class="sort-link">the most interesting</button>
    </div>
</template>

<script>
export default {
  name: 'SortTool',
  components: {
  },
  computed:{
    getLatest:function(){
      return this.$store.getters.GET_LATEST;
    },
    getInterest:function(){
      return this.$store.getters.GET_INTEREST;
    },
  },
  methods:{
    openModal:function(){
      this.$store.commit('TOGGLE_SORT_WINDOW');
      event.preventDefault();
    },
    toggleSort:function(){
      this.$store.commit('TOGGLE_LATEST');
      this.$store.commit('TOGGLE_INTEREST');
      event.preventDefault();
    }
  }
}
</script>

<style lang='scss'>
@import "SortTool.scss";
</style>