@mixin default_pos {
    position: relative;
    display: flex;
}
.tools-container{
    @include default_pos();
    justify-content: space-between;
    align-items: center;
    width:100%;
    margin-top: 30px;
    .filters-container{
        @include default_pos();
        justify-content: flex-start;
    }
    .sort-container{
        @include default_pos();
        justify-content: flex-start;
    }
}