<template>
    <div class="tools-container">
        <div class="filters-container">
            <CountryFilter></CountryFilter>
            <SphereFilter></SphereFilter>
        </div>
        <div class="sort-container">
            <SortTool></SortTool>
        </div>
    </div>
</template>

<script>
import CountryFilter from './country_filter/CountryFilter.vue'
import SphereFilter from './sphere_filter/SphereFilter.vue'
import SortTool from './sort_tool/SortTool.vue'
export default {
  name: 'FilterTools',
  components: {
    CountryFilter,
    SphereFilter,
    SortTool,
  }
}
</script>

<style lang='scss'>
@import "FilterTools.scss";
</style>