<template>
  <div style="display:flex;width:100%;">
    <div class="article-container">
      <Article v-bind:key="index" v-for="(article,index) in filteredCountryList" v-bind:self="article"></Article>
    </div>
  </div>
</template>

<script>
import Article from './article/Article.vue'
export default {
  name: 'ArticleContainer',

  components: {
    Article,
  },

  data:function(){
    return{
      articleList: [],
    }
  },

  computed:{
    countryList:function(){
      return this.$store.getters.GET_COUNTRY_LIST;
    },
    sphereList:function(){
      return this.$store.getters.GET_SPHERE_LIST;
    },
    filteredCountryList: function() {
      return this.countryFilter(this.articleList);
    },
    getLatest:function(){
      return this.$store.getters.GET_LATEST;
    },
    getInterest:function(){
      return this.$store.getters.GET_INTEREST;
    },
  },

  methods: {
    countryFilter: function (value) {
      let res = value
        .filter(i => this.countryList.filter(c => c.checked).map(c => c.name).includes(i.tags[0]))
        .filter(i => this.sphereList.filter(s => s.checked).map(s => s.name).includes(i.tags[2]));
      if (this.getInterest) {
        res.sort((a,b) => b.views-a.views)
      }
      if (this.getLatest) {
        res.sort((a,b) => a.date - b.date)
      }
      return res
    },
  },

  beforeMount() {
    this.axios.get('http://localhost:8080/assets/articles.json').then((response) => {
    this.articleList = response.data.map(e => {e.date = new Date(e.date); return e;});
    })
  },

  mounted() {

  },
}
</script>

<style lang='scss' scoped>
@import "ArticleContainer.scss";
</style>