
.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 54px;
    font-size: 20px;
    border-bottom: 1px solid #EEEEEE;
    .header-text{
        font-weight: bold;
        margin-left: 15px;
    }
    .close-btn{
        margin-right: 15px;
    }
}
.popup-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    .filter-btn{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 68px;
        border-bottom: 1px solid #EEEEEE;
        .btn-name-container{
            display: flex;
            flex-direction: column;
            margin-left: 30px;
            .btn-name{
                display: flex;
                margin-left: 0;
                font-size: 14px;
                line-height:1.29px;
            }
            .filter-name{
                display: flex;
                margin-top:5px;
                font-size: 12px;
                line-height: 1.17px;
                color: #999999;
            }
        }
        .btn-icon{
            margin-right: 30px;
        }
    }
}
.clear-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-top: 20px;
    font-size: 14px;
    line-height: 18px;
    color: #A96C17;
}
.popup-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 125px;
    .save-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 290px;
        height: 40px;
        background: linear-gradient(90deg, #E2B755 0%, #A96C17 100%);
        border-radius: 40px;
        color:#000000;
    }
    .cancel-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        width: 290px;
        height: 40px;
        border: 1px solid #A96C17;
        box-sizing: border-box;
        border-radius: 40px;
    }
}