<template>
    <form v-if="modalState">
        <div class="popup-header">
            <p class="header-text">Filters</p>
            <button v-on:click="closeModal()" class="close-btn"><img src="assets/icons/x.svg"></button>
        </div>
        <div class="popup-body">
            <button v-on:click="openCountryFilter()" class="filter-btn">
                <div class="btn-name-container">
                    <p class="btn-name">Country</p>
                    <p class="filter-name">All countries</p>
                </div>
                <img class="btn-icon" src="assets/icons/filter_arrow.svg">
            </button>
            <button class="filter-btn">
                <div class="btn-name-container">
                    <p class="btn-name">Sphere</p>
                    <p class="filter-name">All spheres</p>
                </div>
                <img class="btn-icon" src="assets/icons/filter_arrow.svg">
            </button>
            <button class="clear-btn">Clear all filters</button>
        </div>
        <div class="popup-footer">
                        <button class="save-btn">Save</button>
                        <button v-on:click="closeModal()" class="cancel-btn">Cancel</button>
        </div>
        <CountryWindow></CountryWindow>
    </form>
</template>

<script>
import CountryWindow from './country_window/CountryWindow.vue'
export default {
  name: 'FiltersWindow',
  components: {
    CountryWindow
  },
  computed:{
    modalState(){
        return this.$store.getters.GET_FILTERS_WINDOW;
    },
  },
  methods:{
    closeModal: function(){
        this.$store.dispatch('RUN_FILTERS_WINDOW');
        event.preventDefault();
    },
    openCountryFilter:function(){
        event.preventDefault();
    },
  },
}
</script>

<style lang='scss' scoped>
@import "FiltersWindow.scss";
</style>