@mixin default_pos {
    position: relative;
    display: flex;
}
@mixin paddings {
    padding-left: 93px;
    padding-right: 93px;
    padding-top: 0;
    padding-bottom: 0;
}
.b-main-container{ 
    @include default_pos();
    @include paddings();
    justify-content: space-between;
    align-items:center;
    width: 100%;
    height:100px;
    @media screen and (max-width: 1024px) {
        padding-left: 48px;
        padding-right: 48px;
        padding-top: 0;
        padding-bottom: 0;
        height: 112px;
    }
    @media screen and (max-width: 320px) {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 0;
        padding-bottom: 0;
        height:70px;
    }
}
.m-c-logo{
    @include default_pos();
    align-items: center;
}
.logo-icon_1024{
    display: none;
    @media screen and (max-width: 1024px) {
        display: flex;
        margin-left: 60px;
    }
    @media screen and (max-width: 320px) {
        display: flex;
        margin-left: 25px;
        width: 120px;
        height: 40px;
    }
}
.logo-icon{
    @include default_pos();
    @media screen and (max-width: 1024px) {
        display: none;
    }
}
.logo-menu{
    display: none;
    @media screen and (max-width: 1024px) {
        display: flex;
    }
    @media screen and (max-width: 320px){
        display: flex;
        width: 25px;
        height: 18px;
    }
}
.m-c-search{
    @include default_pos();
    form{
        @include default_pos();
    }
    input{
        @include default_pos();
        align-items:center;
        width: 380px;
        height: 40px;
        border-radius: 42px;
        border:none;
        outline:none;
        background:rgba(255, 255, 255, 0.1);
        text-indent: 10px;
    }
    button{
        position:absolute;
        padding: 0;
        top:45%;
        left:90%;
        transform: translate(-50%,-50%);
        border:none;
        background:none;
        color:#fff;
        z-index:1000;
    }
    @media screen and (max-width: 1024px) {
        display: none;
    }
}
