<template>
    <div class="b-main-container">
      <div class="m-c-logo">
          <img class="logo-menu" src="assets/icons/menu.svg">
          <img class="logo-icon_1024" src="assets/icons/logo_1024.svg">
          <img class="logo-icon" src="assets/icons/logo.svg">
      </div>
      <div class="m-c-search">
        <form>
          <input type="text" maxlength="55" placeholder="Search">
          <button type="submit"><img src="assets/icons/search.svg"></button>
        </form>
      </div> 
      <NavbarBodyWidgets></NavbarBodyWidgets>
    </div>
</template>

<script>
import NavbarBodyWidgets from './navbar_body_widgets/NavbarBodyWidgets.vue'
export default {
  name: 'WrapperNavbarBody',
  components: {
    NavbarBodyWidgets,
  }
}
</script>

<style lang='scss'>
@import "WrapperNavbarBody.scss";
</style>