<template>
    <form v-if="modalState">
        <div class="popup-header">
            <p class="header-text">Sorting</p>
            <button v-on:click="closeModal()" class="close-btn"><img src="assets/icons/x.svg"></button>
        </div>
        <div class="popup-body">
            <button class="sort-btn">
                <p class="btn-name">The latest</p>
            </button>
            <button class="sort-btn">
                <p class="btn-name">The most interesting</p>
            </button>
        </div>
    </form>
</template>

<script>
export default {
  name: 'SortWindow',
  components: {
  },
  computed:{
    modalState(){
        return this.$store.getters.GET_SORT_MODAL;
    },
  },
  methods:{
    closeModal: function(){
        this.$store.commit('TOGGLE_SORT_WINDOW');
        event.preventDefault();
    }
  },
}
</script>

<style lang='scss' scoped>
@import "SortWindow.scss";
</style>