
.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 54px;
    font-size: 20px;
    border-bottom: 1px solid #EEEEEE;
    .header-text{
        font-weight: bold;
        margin-left: 15px;
    }
    .close-btn{
        margin-right: 15px;
    }
}
.popup-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    .sort-btn{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 50px;
        border-bottom: 1px solid #EEEEEE;
        .btn-name{
            display: flex;
            margin-left: 30px;
            font-size: 14px;
            line-height:1.29px;
        }
    }
}