@mixin default_pos {
    position: relative;
    display: flex;
}
.widgets-container{
    @include default_pos();
}
.search-icon_1024{
    display: none;
    @media screen and (max-width: 1024px) {
        display: flex;
        justify-content:flex-start;
        align-items:flex-start;
        margin-left: 40px;
        margin-top:6px;
    }
    @media screen and (max-width: 320px) {
        display: flex;
        width: 23px;
        height: 23px;
    }
}