<template>
    <div class="widgets-container">
        <WBookmarks></WBookmarks>
        <img class="search-icon_1024" src="assets/icons/search_1024.svg">
        <WFeed></WFeed>
        <WUserInfo></WUserInfo>
    </div>
</template>

<script>
import WBookmarks from './widgets_bookmarks/WBookmarks.vue'
import WFeed from './widgets_feed/WFeed.vue'
import WUserInfo from './widgets_userinfo/WUserInfo.vue'
export default {
  name: 'NavbarBodyWidgets',
  components: {
    WBookmarks,
    WFeed,
    WUserInfo,
  }
}
</script>

<style lang='scss'>
@import "NavbarBodyWidgets.scss";
</style>