body{
    display:flex;
    flex-direction:column;
    margin: 0;
    width:100%;
    min-height:100vh;
    background: #fff;
    font-family: 'Arimo', sans-serif;
}
*{
    box-sizing: border-box;
}
button{
    display: flex;
    outline: none;
    background: inherit;
    border: none;
    padding: 0;
}
ul {
    list-style: none; 
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    outline: none;
    transition: .5s linear;
}
