<template>
  <body>
      <ModalWindow></ModalWindow>
      <WrapperNavbar></WrapperNavbar>
      <WrapperBody></WrapperBody>
      <WrapperFooter></WrapperFooter>
  </body>
</template>

<script>
import WrapperNavbar from './wrapper_navbar/WrapperNavbar.vue'
import WrapperBody from './wrapper_body/WrapperBody.vue'
import WrapperFooter from './wrapper_footer/WrapperFooter.vue'
import ModalWindow from '../shared/modal_window/ModalWindow.vue'
export default {
  name: 'Wrapper',
  components: {
      WrapperNavbar,
      WrapperBody,
      WrapperFooter,
      ModalWindow,
    }
}
</script>

<style lang='scss'>
@import "Wrapper.scss";
</style>