<template>
    <div style="display:flex"> 
        <div  class="country-main-container">
            <div v-on:click="openMenu()" v-bind:class="{'country-filter-menu':isMenuShowed}" class="country-filter">
                <button v-on:click="openModal()" class="hidden">
                    <img class="filters-icon"><img src="assets/icons/filters.svg">
                    <p class="filters">Filters</p>
                </button>
                <div class="country-btn" >
                    <p class="btn-name">Country</p>
                    <p class="btn-filter-name">All countries</p>
                </div>
                <button class="btn-icon">
                    <img v-if="!isMenuShowed" src="assets/icons/arrow_down_v2.svg">
                    <img v-if="isMenuShowed" src="assets/icons/arrow_up.svg">
                </button>
            </div>
            <div v-if="isMenuShowed" class="country-menu-container">
                <div class="country-menu">
                    <div class="input-container" v-bind:key="index" v-for="(country,index) in countryList">
                    <input type="checkbox" v-bind:checked="country.checked" v-on:change="toggleChechbox(country)">
                    <span class="checkbox-text">{{country.name}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'CountryFilter',
  components: {
  },
  computed:{
    isMenuShowed:function(){
        return this.$store.getters.GET_MENU;
    },
    countryList:function(){
        return this.$store.getters.GET_COUNTRY_LIST;
    },
  },
  methods:{
    openModal:function(){
        this.$store.commit('TOGGLE_FILTERS_WINDOW');
        event.preventDefault();
    },
    openMenu:function(){
        this.$store.commit('TOGGLE_MENU');
        event.preventDefault();
    },
    toggleChechbox:function(country){
        this.$store.commit('CHECK_COUNTRY',country);
    }
  },
}
</script>

<style lang='scss' scoped>
@import "CountryFilter.scss";
</style>