<template>
  <div class="w-body">
    <div class="directories-container">
      <p class="cur-country">{{curCountry}}</p>
      <img class="arrow-icon" src="assets/icons/arrow_right.svg">
      <p class="cur-sphere">{{curSphere}}</p>
    </div>
    <div class="cur-sphere-container">
      <p class="cur-sphere-name">Companies</p>
      <button class="addtoFeed-btn">
        <img class="plus-icon" src="assets/icons/+.svg">
        <p class="addtoFeed">Add to my feed</p>
      </button>
    </div>
    <FilterTools></FilterTools>
    <ArticleContainer></ArticleContainer>
    <button class="loadmore-btn">Load more news</button>
  </div>
</template>

<script>
import FilterTools from './filter_tools/FilterTools.vue'
import ArticleContainer from './article_container/ArticleContainer.vue'
export default {
  name: 'WrapperBody',
  components: {
    FilterTools,
    ArticleContainer,
  },
  data:function(){
    return{
      curCountry:'All Africa',
      curSphere:'Companies'
    }
  }
}
</script>

<style lang='scss'>
@import "WrapperBody.scss";
</style>