@mixin paddings {
    padding-left: 93px;
    padding-right: 93px;
    padding-top: 0;
    padding-bottom: 0;
}
.w-body{
    @include paddings();
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    .directories-container{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top:25px;
        font-size: 12px;
        line-height: 1.17;
        .cur-country{
            margin:0;
        }
        .arrow-icon{
            display:flex; 
            margin-left:10px; 
            height:10px;
        }
        .cur-sphere{
            margin-top:0; 
            margin-bottom:0;
            margin-right:0;
            margin-left:13px; 
            color:#999999;
        }
        @media screen and (max-width: 1024px) {
            margin-top:20px;
        }
        @media screen and (max-width: 320px) {
            margin-top:25px;
        }
    }
    .cur-sphere-container{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top:30px;
        line-height: 1.17;
        .cur-sphere-name{
            margin:0;
            font-weight:bold;
            font-size:24px; 
        }
        .addtoFeed-btn{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 0;
            margin-left: 20px;
            .plus-icon{
                display:flex; 
                height:10px;
            }
            .addtoFeed{
                margin-left:5px; 
                margin-right:0; 
                margin-top:0; 
                margin-bottom:0; 
                font-size:12px; 
                color: #A96C17;
            }
        }
    }
    @media screen and (max-width: 1024px) {
        padding-left: 48px;
        padding-right: 48px;
        padding-top: 0;
        padding-bottom: 0;
    }
    @media screen and (max-width: 320px) {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 0;
        padding-bottom: 0;
    }
}
.loadmore-btn{
    justify-content: center;
    align-items: center;
    margin-top:30px;
    margin-bottom: 90px;
    padding:0;
    margin-right: auto;
    margin-left: auto;
    width: 164px;
    height: 40px;
    border:0;
    border-radius: 40px;
    font-size: 14px;
    background: linear-gradient(90deg, #E2B755 0%, #A96C17 100%);
    color: #000000;
    @media screen and (max-width: 320px) {
        font-size: 14px;
        padding: 16px 30px;
        width: 164px;
        height: 40px;
    }
}