@mixin default_pos {
    position: relative;
    display: flex;
}
.card-secondary{
    border: 3px solid #A96C17 !important;
}
.card-tertiary{
    background: #000000 !important;
    border: 0 !important;
    color: white !important;
}
.sphere-tags-container-tertiary{
    color: white !important;
}
.card{
    @include default_pos();
    flex-direction: column;
    width: 280px;
    min-height:100px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    @media screen and (max-width: 1024px){
        width: 296px;
    }
    @media screen and (max-width: 320px){
        width: 290px;
    }
}
.card-header{
    @include default_pos();
    justify-content: flex-end;
    width:100%;
    .bookmark{
        margin-right:13px;
    }
}
.card-body{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 0;
    padding-bottom: 0;
    .tags-container{
        @include default_pos();
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width:100%;
        .country-tag{
            @include default_pos();
            justify-content: center;
            align-items: center;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 5px;
            padding-top: 5px;
            height: 24px;
            border-radius: 40px;
            font-size: 12px;
            line-height: 1.17;
            color: #000000;
            background: #E2B755;
        }
        .sphere-tags-container{
            @include default_pos();
            margin-top:5px;
            .sphere-tag{
                @include default_pos();
                align-items: center;
                padding: 5px 10px;
                height: 24px;
                border-radius: 40px;
                font-size: 12px;
                line-height: 1.17;
                color: #000000;
                border: 1px solid #E2B755;
                &:last-child{
                    margin-left:5px;
                }
            }
        }
    }
    .article-container{
        @include default_pos();
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width:100%;
        .article-header{
            font-weight: bold;
            font-size: 16px;
            margin-top: 20px;
            margin-bottom: 0;
        }
        .article-text{
            margin-top: 10px;
            margin-bottom: 0;
            font-size: 14px;
        }
    }
}
.card-footer{
    @include default_pos();
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 12px;
    line-height: 1.17;
    color: #999999;
    .article-date{
        margin-left: 25px;
        margin-bottom: 30px;
    }
}