<template>
    <div v-bind:class="{'card-secondary':self.tags[2]=='Secondary', 'card-tertiary':self.tags[2]=='Tertiary'}" class="card">
        <div class="card-header">
            <img class="bookmark" src="assets/icons/bookmark.svg">
        </div>
        <div class="card-body">
            <div class="tags-container">
                <div class="country-tag">
                    <p>{{self.tags[0]}}</p>
                </div>
                <div class="sphere-tags-container">
                    <div v-bind:class="{'sphere-tags-container-tertiary':self.tags[2]=='Tertiary'}" class="sphere-tag">
                        <p>{{self.tags[1]}}</p>
                    </div>
                    <div v-bind:class="{'sphere-tags-container-tertiary':self.tags[2]=='Tertiary'}" class="sphere-tag">
                        <p>{{self.tags[2]}}</p>
                    </div>
                </div>
            </div>
            <div class="article-container">
                <p class="article-header">
                    {{self.title}}
                </p>
                <p class="article-text">
                    {{self.preview}}
                </p>
            </div>
        </div>
        <div class="card-footer">
            <p class="article-date">{{(self.date).toLocaleString('en-US', { month: 'long' })+' '+(self.date).getDate()+', '+(self.date).getHours()+':'+(self.date).getMinutes()}}</p>
        </div>
    </div>
</template>

<script>

export default {
  name: 'Article',
  props:{
    self: Object
  },
  components: {
  },
  data:function(){
    return{

    }
  },
}
</script>

<style lang='scss'>
@import "Article.scss";
</style>