<template>
    <div class="user-info">
        <div class="user-icon">
            <img class="user-icon_1024" src="assets/icons/user_1024.svg">
            <img class="basic-user-icon" src="assets/icons/user.svg">
        </div>
        <div class="user-desc">
            <p class="desc-header">{{username}}</p>
            <p class="desc-text">Subscription: {{subTime}} days left</p>
        </div>
    </div>
</template>

<script>

export default {
  name: 'WUserInfo',
  components: {
  },
  data:function(){
    return {
        username:'Konstantin K.',
        subTime:305,
    }
  }
}
</script>

<style lang='scss'>
@import "WUserInfo.scss";
</style>