@mixin default_pos {
    position: relative;
    display: flex;
}
.user-info{
    @include default_pos();
    margin-left:40px;
    @media screen and (max-width: 1024px) {
        margin-left:33px;
    }
    @media screen and (max-width: 320px) {
        display: none;
    }
}
.user-icon{
    justify-content:flex-start;
    align-items:flex-start;
    margin-top:6px;
}
.user-icon_1024{
    display: none;
    @media screen and (max-width: 1024px) {
        display: flex;
    }
}
.basic-user-icon{
    @include default_pos();
    @media screen and (max-width: 1024px) {
        display: none;
    }
}
.user-desc{
    @include default_pos();
    flex-direction: column;
    margin-left:20px;
    .desc-header{
        margin:0;
        height:18px;
        font-size: 14px;
        color:#fff;
    }
    .desc-text{
        margin-top:5px;
        margin-bottom:0;
        margin-left:0;
        margin-right:0;
        height:14px;
        font-size: 12px;
        color:#E2B755;
    }
    @media screen and (max-width: 1024px) {
        display: none;
    }
}
