<template>
    <div class="bookmarks">
        <div class="bookmark-icon">
            <img class="bookmark-icon_1024" src="assets/icons/bookmark-header_1024.svg">
            <img class="basic-bookmark-icon" src="assets/icons/bookmark-header.svg">
        </div>
        <div class="bookmark-desc">
            <p class="desc-header">Bookmarks</p>
            <p class="desc-text">{{newsCount}} news</p>
        </div>
    </div>
</template>

<script>

export default {
  name: 'WBookmarks',
  components: {
  },
  data:function(){
    return {
        newsCount: 16,
    }
  }
}
</script>

<style lang='scss'>
@import "WBookmarks.scss";
</style>