<template>
    <div class="w-nav-header">
        <div class="h-main-container">
          <div class=" m-c-countrybar">
            <div class="countrybar-countrylist" >
              <button v-bind:key="index" v-for="(country, index) in countries" v-on:click="toggleCountryButton(country)" v-bind:class="{'selected-btn': country.selected }" class="country-btn">{{country.text}}</button>
            </div>
            <div class="countrybar-morecountry-btn">
              <p class="btn-text">More countries</p>
              <img class="btn-icon" src="/assets/icons/arrow_down.svg">
            </div>
          </div>
          <div class=" m-c-format">
            <button class="light-mode"><img src="/assets/icons/moon.svg"></button>
            <p class="lang">EN</p>
            <img class="change-lang-btn" src="/assets/icons/black_arrow_down.svg">
          </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'WrapperNavbarHeader',
  components: {
  },
  data:function(){
    return {
      countries:[
        {text:'All countries', selected:false},
        {text:'Nigeria', selected:false},
        {text:'South Africa', selected:false},
        {text:'Egypt', selected:false},
        {text:'Angola', selected:false},
        {text:'Kenya', selected:false},
        {text:'Ethiopia', selected:false},
      ]
    }
  },
  methods: {
    toggleCountryButton(country){
      this.countries.forEach(element => element.selected=false);
      country.selected=true;
    }
  }
}
</script>

<style lang='scss'>
@import "WrapperNavbarHeader.scss";
</style>