@mixin default_pos {
    position: relative;
    display: flex;
}
@mixin paddings {
    padding-left: 93px;
    padding-right: 93px;
    padding-top: 0;
    padding-bottom: 0;
}
.w-nav-header{
    @include default_pos();
    margin: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(90deg, #E2B755 0%, #A96C17 100%);
    @media screen and (max-width: 320px) {
        display: none;
    }
    .h-main-container{
        @include default_pos();
        @include paddings();
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        width: 100%;
        height: 50px;
        @media screen and (max-width: 1024px) {
            padding-left: 48px;
            padding-right: 48px;
            padding-top: 0;
            padding-bottom: 0;
        }
        .m-c-countrybar{
            @include default_pos();
            margin: 0;
            height: 100%;
            @media screen and (max-width: 1024px) {
                width: 100%;
                justify-content: space-between;
                margin: 0;
            }
            .countrybar-countrylist{
                @include default_pos();
                margin: 0;
                height: 100%;
                overflow: hidden;
                align-items: center;
                .country-btn{
                    @include default_pos();
                    align-items: center;
                    margin-left: 20px;
                    padding-left: 10px;
                    padding-right: 10px;
                    padding-bottom: 0;
                    padding-top: 0;
                    height: 100%;
                    font-size: 14px;
                    background: inherit;
                    border: none;
                    border-top: 5px solid rgba($color: #fff, $alpha: 0.0);
                    border-bottom: 5px solid rgba($color: #fff, $alpha: 0.0);
                    &:first-child{
                        margin-left: 0;
                    }
                }
                .selected-btn{
                    border-bottom: 5px solid #fff !important;
                }
            }
            .countrybar-morecountry-btn{
                @include default_pos();
                justify-content: center;
                align-items: center;
                margin-left: 30px;
                height: 100%;
                font-size: 14px;
                color: #fff;
                @media screen and (max-width: 1024px) {
                    margin: 0;
                }
                .btn-text{
                    @include default_pos();
                    line-height: 129%;
                }
                .btn-icon{
                    margin-left: 16px;
                }
            }
        }
        .m-c-format{
            @include default_pos();
            height: 50px;
            justify-content: center;
            align-items: center;
            color: black;
            @media screen and (max-width: 1024px) {
                display: none;
            }
            .light-mode{
                margin: 0;
                padding: 0;
            }
            .lang{
                margin-left: 40px;
                line-height: 129%;
                font-size: 14px;
            }
            .change-lang-btn{
                margin-left: 16px;
            }
        }
    }
}