<template>
  <div class="w-navbar">
      <WrapperNavbarHeader></WrapperNavbarHeader>
      <WrapperNavbarBody></WrapperNavbarBody>
      <WrapperNavbarFooter></WrapperNavbarFooter>
  </div>
</template>

<script>
import WrapperNavbarHeader from './wrapper_navbar_header/WrapperNavbarHeader.vue'
import WrapperNavbarBody from './wrapper_navbar_body/WrapperNavbarBody.vue'
import WrapperNavbarFooter from './wrapper_navbar_footer/WrapperNavbarFooter.vue'

export default {
  name: 'WrapperNavbar',
  components: {
      WrapperNavbarHeader,
      WrapperNavbarBody,
      WrapperNavbarFooter,
  }
}
</script>

<style lang='scss'>
@import "WrapperNavbar.scss";
</style>