.w-navbar{
    position: relative;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    margin: 0;
    width: 100%;
    height: 200px;
    background: #333333;
    @media screen and (max-width: 1024px) {
        height: 162px;
    }
    @media screen and (max-width: 320px) {
        height: 70px;
        background: #000;
    }
}



