<template>
    <div class="w-nav-footer">
      <div class="f-main-container">
        <ul>
          <li><a v-bind:key="index" v-for="(sphere, index) in spheres" class="item">{{sphere.text}}</a></li>
        </ul>
      </div>
    </div>
</template>

<script>

export default {
  name: 'WrapperNavbarFooter',
  components: {
  },
  data:function(){
    return {
      spheres:[
        {text:'Government'},
        {text:'Companies'},
        {text:'People'},
        {text:'Politics'},
        {text:'Finance'},
        {text:'Mining'},
        {text:'Confidential'},
        {text:'Travel advisory'},
        {text:'Investment Guide'},
      ]
    }
  },
}
</script>

<style lang='scss'>
@import "WrapperNavbarFooter.scss";
</style>