@mixin default_pos {
    position: relative;
    display: flex;
}
@mixin paddings {
    padding-left: 93px;
    padding-right: 93px;
    padding-top: 0;
    padding-bottom: 0;
}
.w-nav-footer{
    @include default_pos();
    height: 50px;
    background: rgba(255, 255, 255, 0.1);
    .f-main-container{
        @include default_pos();
        @include paddings();
        justify-content: flex-start;
        align-items: center;
        width:100%;
        height: 50px;
        .item{
            margin-left: 40px;
            font-size: 14px;
            line-height: 1.29px;
            color: #FFFFFF;
            &:first-child{
                margin-left:0;
            }
            &:hover{
                color: #E2B755;
            }
        }
    }
    @media screen and (max-width: 1024px) {
        display: none;
    }
    @media screen and (max-width: 320px) {
        display: none;
    }
}