.popup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 320px;
    height: 480px;
    z-index: 1000;
    background: white;
}
.overlay {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba($color: #000000, $alpha: 0.4);
}
.fade-enter-active, .fade-leave-active {
    transition: opacity .2s;
  }
.fade-enter, .fade-leave-to{
    opacity: 0;
}