<template>
  <transition name="fade">
    <div v-if="modalState" class="overlay">
        <div class="popup">
          <FiltersWindow></FiltersWindow>
          <SortWindow></SortWindow>
        </div>
    </div>
  </transition>  
</template>

<script>
import FiltersWindow from './filters_window/FiltersWindow.vue'
import SortWindow from './sort_window/SortWindow.vue'


export default {
  name: 'ModalWindow',
  components: {
    FiltersWindow,
    SortWindow,
  },
  computed:{
    modalState(){
        return this.$store.getters.GET_FILTERS_WINDOW;
    },
  },
  methods:{
  },
}
</script>

<style lang='scss'>
@import "ModalWindow.scss";
</style>