<template>
  <div id="app">
    <Wrapper></Wrapper>
  </div>
</template>

<script>
import Wrapper from './components/wrapper/Wrapper.vue'

export default {
  name: 'App',
  metaInfo: {
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1,maximum-scale=1.0,user-scalable=no' },

    ]
  },
  components: {
    Wrapper,
  },
  computed: {
  },
}
</script>

<style lang='scss'>
@import "App.scss";
</style>
