@mixin default_pos {
    position: relative;
    display: flex;
}
.feed{
    @include default_pos();
    margin-left:40px;
    @media screen and (max-width: 1024px) {
        align-items: center;
        margin-left:33px;
    }
    @media screen and (max-width: 320px) {
        margin-left:30px;
    }
}
.feed-icon{
    @include default_pos();
    justify-content:flex-start;
    align-items:flex-start;
    margin-top:6px;
    @media screen and (max-width: 1024px) {
        margin-top: 0;
    }
}
.bell-notif{
    display: none;
    @media screen and (max-width: 1024px) {
        display: flex;
    }
    @media screen and (max-width: 320px) {
        display: flex;
        width: 28px;
        height: 30px;
    }
}
.bell{
    display: flex;
    @media screen and (max-width: 1024px) {
        display: none;
    }
}
.feed-desc{
    @include default_pos();
    flex-direction: column;
    margin-left:20px;
    .desc-header{
        margin:0;
        height:18px;
        font-size: 14px;
        color:#fff;
    }
    .desc-text{
        margin-top:5px;
        margin-bottom:0;
        margin-left:0;
        margin-right:0;
        height:14px;
        font-size: 12px;
        color:#E2B755;
    }
    @media screen and (max-width: 320px) {
        display: none;
    }
}
