<template>
    <div class="feed">
        <div class="feed-icon">
            <img class="bell-notif" src="assets/icons/bell_1024.svg">
            <img class="bell" src="assets/icons/bell.svg">
        </div>
        <div class="feed-desc">
            <p class="desc-header">My feed</p>
            <p class="desc-text">{{notifyCount}} notifications</p>
        </div>
    </div>
</template>

<script>

export default {
  name: 'WFeed',
  components: {
  },
  data:function(){
    return {
        notifyCount: 2,
    }
  }
}
</script>

<style lang='scss'>
@import "WFeed.scss";
</style>