@mixin default_pos {
    position: relative;
    display: flex;
}
@mixin paddings {
    padding-left: 93px;
    padding-right: 93px;
    padding-top: 0;
    padding-bottom: 0;
}
@mixin link-margin {
  display: flex;
  margin-top:10px;
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.w-footer {
  @include default_pos();
  flex-direction:column;
  margin: 0;
  width:100%;
  background: #EEEEEE;
  
  .footer-top {
    @include default_pos();
    @include paddings();
    justify-content: space-between;
    align-items: flex-start;
    width:100%;
    height: 140px;
    .contact-info {
      @include default_pos();
      margin-top: 30px;
      flex-direction:column;
      justify-content: flex-start;
      align-items: flex-start;
      .contact-us{
        margin: 0;
        font-size: 16px;
        line-height: 1.25;
        font-weight: bold;
        color: #000000;
      }
      .adress{
        margin: 0;
        margin-top: 15px;
        font-size: 14px;
        line-height: 1.29;
        color: #000000;
      }
      .email{
        margin: 0;
        margin-top:10px;
        font-size: 14px;
        line-height: 1.29;  
        color: #A96C17;
      }
    }
    .links-container{
      @include default_pos();
      justify-content: flex-start;
      align-items: flex-start;
      margin-top: 30px;
      .l-c-content{
        @include default_pos();
        justify-content: flex-start;
        flex-direction: column;
        margin-left:60px;
        &:first-child{
          margin:0;
        }
        @media screen and (max-width: 320px){
          margin: 0;
          width: 100%;
        }
      }
      .l-c-hidden-content{
        display:flex;
        position: relative;
        justify-content: flex-start;
        flex-direction:column;
        margin-left:60px;
        @media screen and (max-width: 1024px) {
          display: none;
        }
      }
      @media screen and (max-width: 320px){
        margin-bottom: 30px;
        flex-direction: column;
        width: 100%;
      }
    }
    .link{
      @include link-margin();
      text-decoration: none;
      font-size: 14px;
      line-height: 1.29;
      color: #000000;
      &:first-child{
        margin: 0;
      }
      @media screen and (max-width: 1024px) {
        margin-top:10px;
      }
      @media screen and (max-width: 320px){
        margin-top:15px;
      }
    }
    .sitemap{
      display: none;
      @media screen and (max-width: 1024px) {
        display: flex;
        text-decoration: none;
        margin-top:10px;
        margin-left: 0;
        margin-bottom: 0;
        margin-right: 0;
        font-size: 14px;
        line-height: 1.29;
        color: #000000;
      }
      @media screen and (max-width: 320px){
        margin-top: 15px;
      }
    }
    .subscribe{
      display: none;
      @media screen and (max-width: 1024px) {
        display: flex;
        text-decoration: none;
        margin:0;
        font-size: 14px;
        line-height: 1.29;
        color: #000000;
      }
      @media screen and (max-width: 320px){
        margin-top: 15px;
      }
    }
    .faq{
      margin: 0;
      text-decoration: none;
      font-size: 14px;
      line-height: 1.29;
      color: #000000;
      @media screen and (max-width: 1024px) {
        margin-top:10px;
      }
      @media screen and (max-width: 320px){
        margin-top: 15px;
      }
    }
    .kostyl{
      display: flex;
      margin-top: 10px;
      @media screen and (max-width: 320px){
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
        width: 100%;
      }
    }
    .terms{
      text-decoration: none;
      font-size: 14px;
      line-height: 1.29;
      color: #000000;
    }
    .hidden-linkedin{
      display: none;
      @media screen and (max-width: 320px){
        display: flex;
      }
    }
    .linkedin{
      margin-left:83px;
      @media screen and (max-width: 1024px) {
        margin-left:53px;
      }
      @media screen and (max-width: 320px){
        display: none;
      }
    }
    @media screen and (max-width: 1024px){
      padding-left: 48px;
      padding-right: 48px;
      padding-top: 0;
      padding-bottom: 0;
    }
    @media screen and (max-width: 320px) {
      flex-direction: column;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 0;
      padding-bottom: 0;
      height: 390px;
    }
  }
  
  .footer-bottom {
    @include default_pos();
    width: 100%;
    height: 40px;
    border-top: 1px solid #DDDDDD;
    .b-copyrighter-container {
      @include default_pos();
      @include paddings();
      justify-content:space-between;
      width: 100%;
      height: 100%;
      .copyrighter {
        font-size: 12px;
        line-height: 1.17;
        color: #999999;
        @media screen and (max-width: 320px){
          margin-top: 15px;
          margin-bottom: 0;
        }
      }
      @media screen and (max-width: 1024px) {
        padding-left: 48px;
        padding-right: 48px;
        padding-top: 0;
        padding-bottom: 0;
      }
      @media screen and (max-width: 320px){
        flex-direction: column;
        justify-content: flex-start;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
      }
    }
    .b-madein-container{
      @include default_pos();
      align-items: center;
      justify-content:center;
      .madein{
        margin-right: 5px;
        font-size: 12px;
        line-height: 1.17;
        color: #999999;
        @media screen and (max-width: 320px){
          margin: 0;
        }
      }
      .PM {
        text-decoration: none;
        color:#A96C17;
        font-size: 12px;
        line-height: 1.17;
        @media screen and (max-width: 320px){
          margin-left: 3px;
        }
      }
      @media screen and (max-width: 320px){
        justify-content: flex-start;
        margin-top: 10px;
        margin-bottom: 0;
        margin-left: 0;
      }
    }
    @media screen and (max-width: 320px){
      flex-direction: column;
      height: 68px;
    }
  }    
}