<template>
  <div class="w-footer">
    <div class="footer-top">
      <div class="contact-info">
        <p class="contact-us">Contact us</p>
        <p class="adress">Communication Digitale et Media en Ligne 17BP 806 Abidjan 18 Côte d’Ivoire</p>
        <p class="email">main@ashantene.com</p>
      </div>
      <div class="links-container">
        <div class="l-c-content">
          <a class="link">About us</a>
          <a class="link">Archives</a>
          <a class="sitemap">Sitemap</a>
        </div>        
        <div class="l-c-hidden-content">
          <a class="link" style="margin-left:0 !important;">Sitemap</a>
          <a class="link">Subscribe plans</a>
        </div>
        <div class="l-c-content">
          <a class="subscribe" style="margin-left:0 !important;">Subscribe plans</a>
          <a class="faq">FAQ</a>
          <div class="kostyl">
            <a class="terms">Terms and Conditions</a>
            <img class="hidden-linkedin" src="assets/icons/linkedin.svg">
          </div>
        </div>
        <img class="linkedin" src="assets/icons/linkedin.svg">
      </div>
    </div>
    <div class="footer-bottom">
      <div class="b-copyrighter-container">
        <p class="copyrighter">© Communication Digitale et Media en Ligne</p>
        <div class="b-madein-container">
          <p class="madein">Made in</p><a href="https://www.progressivemedia.ru/" target="_blank" class="PM">Progressive Media</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'WrapperFooter',
  components: {
  }
}
</script>

<style lang='scss'>
@import "WrapperFooter.scss";
</style>