<template>
    <div style="display:flex"> 
        <div class="sphere-main-container">
            <div v-on:click="openMenu()" v-bind:class="{'sphere-filter-menu':isMenuShowed}" class="sphere-filter">
                <div class="sphere-btn">
                    <p class="btn-name">Sphere</p>
                    <p class="btn-filter-name">All spheres</p>
                </div>
                <button class="btn-icon">
                    <img v-if="!isMenuShowed" src="assets/icons/arrow_down_v2.svg">
                    <img v-if="isMenuShowed" src="assets/icons/arrow_up.svg">
                </button>
            </div>
            <div v-if="isMenuShowed" class="sphere-menu-container">
                <div class="sphere-menu">
                    <div class="input-container" v-bind:key="index" v-for="(sphere,index) in sphereList">
                    <input type="checkbox" v-bind:checked="sphere.checked" v-on:change="toggleChechbox(sphere)">
                    <span class="checkbox-text">{{sphere.name}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'SphereFilter',
  components: {
  },
  computed:{
    isMenuShowed:function(){
        return this.$store.getters.GET_SPHERE_MENU;
    },
    sphereList:function(){
        return this.$store.getters.GET_SPHERE_LIST;
    },
  },
  methods:{
    openModal:function(){
        this.$store.commit('TOGGLE_FILTERS_WINDOW');
        event.preventDefault();
    },
    openMenu:function(){
        this.$store.commit('TOGGLE_SPHERE_MENU');
        event.preventDefault();
    },
    toggleChechbox:function(sphere){
        this.$store.commit('CHECK_SPHERE',sphere);
    }
  },
}
</script>

<style lang='scss' scoped>
@import "SphereFilter.scss";
</style>