@mixin default_pos {
    position: relative;
    display: flex;
}
.sphere-main-container{
    @include default_pos();
    flex-direction: column;
    .sphere-menu-container{
        position: absolute;
        top:50px;
        left: 15px;
        width: 290px;
        height: 140px;
        z-index: 10000;
        background: #FCF8ED;
        .sphere-menu{
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-columns: 1fr;
            grid-gap: 15px;
            padding: 25px;
            width: 100%;
            height: 100%;
            .input-container{
                display: flex;
                align-items: center;
            }
            input{
                display: flex;
                width: 20px;
                height: 20px;
                background: #FFFFFF;
                border: 1px solid #DDDDDD;
                border-radius: 0;
            }
            .checkbox-text{
                font-size: 14px;
                margin-left: 5px;
                @media screen and (max-width: 1024px){
                    font-size: 12px;
                }
            }
        }

    }
}
.sphere-filter-menu{
    background: #FCF8ED !important;
}
.sphere-filter{
    @include default_pos();
    justify-content: space-between;
    align-items: center;
    width: 226px;
    height: 50px;
    background: #EEEEEE;
    margin-left: 15px;
    .sphere-btn{
        @include default_pos();
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 15px;
        .btn-name{
            margin:0;
            font-size: 14px;
            line-height:1.29px;
        }
        .btn-filter-name{
            margin-top:15px;
            margin-bottom:0;
            margin-left: 0;
            margin-right: 0;
            font-size: 12px;
            line-height: 1.17px;
            color: #999999;
        }
    }
    .btn-icon{
        margin-right:15px;
    }
    @media screen and (max-width: 320px){
        display: none;
    }
}