
.popup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 320px;
    height: 480px;
    z-index: 1000;
    background: white;
}
form{
    display: flex;
}
.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 54px;
    font-size: 20px;
    border-bottom: 1px solid #EEEEEE;
    .back-btn{
        padding: 0;
        margin-left: 15px;
    }
    .header-text{
        font-weight: bold;
        margin-left: 20px;
    }
    .close-btn{
        margin-right: 15px;
    }
}