<template>
                <form v-if="modalState">
                    <div class="popup-header">
                        <div style="display:flex;">
                            <button v-on:click="clickBack()" class="back-btn"><img src="assets/icons/arrow_left.svg"></button>
                            <p class="header-text">Country</p>
                        </div>
                        <button v-on:click="closeModal()" class="close-btn"><img src="assets/icons/x.svg"></button>
                    </div> 
                    <div class="popup-body">
                        
                    </div>
                    <div class="popup-footer">
                        <button class="save-btn">Save</button>
                    </div>
                </form>
</template>

<script>
export default {
  name: 'CountryWindow',
  components: {
  },
  computed:{
    modalState(){
        return this.$store.getters.GET_COUNTRY_FILTER_WINDOW;
    },
  },
  methods:{
    closeModal: function(){
        this.$store.dispatch('RUN_COUNTRY_FILTER_WINDOW');
        event.preventDefault();
    },
    clickBack:function(){
        event.preventDefault();
    },
  },
}
</script>

<style lang='scss' scoped>
@import "CountryWindow.scss";
</style>